.navbar {
    background-color: rgb(119, 2, 2);
    color: white;
}


/*
.nav-item {
    width: 100px;
    padding: 5px 0!important;
    border: 1px solid rgb(119, 2, 2);
    position: relative;
    overflow: hidden;
}

.nav-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, .3), transparent);
    transition: all 650ms;
}

.nav-item:hover::before {
    left: 100%;
}
*/

.nav-item {
    margin: 0 20px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    position: relative;
    padding: 0;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
}

.nav-link:hover::before {
    transform: scaleX(1)
}

.container img {
    height: 50px;
}

.jumbotron {
    background: linear-gradient(rgba(15, 17, 20, 0.938), rgba(13, 28, 48, 0.678)), url("img/teknik.jpg")center no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    margin-top: -120px;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 200px;
    font-size: 70px;
}

.jumbotron p {
    color: white;
    text-align: left;
}

.row {
    margin-left: 150px;
    margin-right: 150px;
}

img {
    height: 250px;
}